email-summariser-with-claude (1).json
{
  "name": "Email summariser with Claude",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-320, -64],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fb22f45-1c17-4e6c-a6d5-1a85b2c2dd45",
              "name": "from",
              "value": "john@example.com",
              "type": "string"
            },
            {
              "id": "a74e0cc8-da25-4547-a9aa-b085bb6b356d",
              "name": "subject",
              "value": "Project Update - Q2 Report",
              "type": "string"
            },
            {
              "id": "e3fb6a6c-44d1-42a2-a9f5-d78bb0d35ff4",
              "name": "body",
              "value": "Hi, just wanted to follow up on the Q2 report. We need the numbers by Friday. Can you confirm if that's still on track? Also, will you be joining the 3pm sync tomorrow? Thanks, John",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-96, -64],
      "id": "6d4e1fd7-2041-4906-b6d3-e2efa0575c95",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "YOUR_CLAUDE_API_KEY" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"claude-opus-4-5\", \"max_tokens\": 1024, \"messages\": [{ \"role\": \"user\", \"content\": \"You are an email assistant. Given the email below, do two things:\\n1. Write a SHORT summary (2-3 sentences)\\n2. Write a polite, professional reply\\n\\nFormat your response as:\\nSUMMARY: ...\\nREPLY: ...\\n\\nEmail from: \" + $json.from + \"\\nSubject: \" + $json.subject + \"\\nBody: \" + $json.body }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [128, -64],
      "id": "d6b691d7-83db-4462-93ab-b716f45b67a9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f4b9459-aea8-45d7-85e8-36735b6d2fa5",
              "name": "claude_response",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [352, -64],
      "id": "313bbd02-5c1d-4ab9-bb86-57fbddceb2d3",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "tags": []
}
