Email auto-responder using Claude AI.json
{
  "name": "ALLOWED_SENDER_EMAIL",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "both"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -80
      ],
      "id": "bb3a101d-0708-4b5c-8d5f-38223e38829f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd655a59-73e4-4b42-8169-2af04b53be92",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "7d1f4339-09c4-4408-ba45-e8c79617c7e9",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "196a0da3-8573-48b3-903e-7576d8f349c1",
              "name": "body",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -80
      ],
      "id": "4ea948c7-48ed-4802-b60f-874403b811b9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb255463-9b78-4edf-a462-7abb06077412",
              "leftValue": "={{ $json.from }}",
              "rightValue": "ALLOWED_SENDER_EMAIL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -80
      ],
      "id": "c02b5a8c-1b1e-4a9e-85d4-0662b0fbfac8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_CLAUDE_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({   \"model\": \"claude-opus-4-5\",   \"max_tokens\": 1024,   \"messages\": [{     \"role\": \"user\",     \"content\": \"You are a professional email assistant. Reply naturally and warmly.\\nIf urgent be concise. If casual be friendly. Sign off as: The Team.\\nFrom: \" + $json.from + \"\\nSubject: \" + $json.subject + \"\\nBody: \" + $json.body   }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        464,
        -80
      ],
      "id": "4fdf1cdd-b48b-4b62-8fc7-2a86a4eaa30b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a935cd36-228f-4b9f-a79f-7080cb550d81",
              "name": "claude_response",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -80
      ],
      "id": "9c72c97c-fea7-432e-b595-5eb7f529c411",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "ALLOWED_SENDER_EMAIL",
        "subject": "=Re: {{ $('Edit Fields').item.json.subject }}",
        "message": "={{ $json.claude_response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -80
      ],
      "id": "a50431e6-07a2-4ae3-8ea7-c8de58910971",
      "name": "Send a message",
      "webhookId": "7ce7a3f0-2591-4f49-9bab-51c7e8b34c9a",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "886554f9-6f7c-4f01-916e-24e7d76261d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "JUD4Cyj0RHAeW8Pd",
  "tags": []
}